*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    min-height: 50vh;
    padding-top: 50px;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
  }
  
div{
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: center;
}
  .counter {
    width: 500px;
    margin:  auto;
    height: 50px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: baseline;
    background: greenyellow;
  
  }
  
  .counter > * {
    height: 100%;
    flex:1;
    font-size: 32px;
    border-radius: 10px;
    color: red;
  }